<!-- resources -->
.form-container {
  position:fiexd;
  width:50%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #E8E1E1;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}


.success{
  position:fiexd;
  width:50%;
  margin-left: 50px;
  margin-top:20px;
  padding: 20px;
  background-color: #E8E1E1;
  border: 1px solid #ddd;
  border-radius: 4px;
}

h1{
	color: #815555;
}

.campitos{
	width: 25%;
}

.general{
	 background: rgba(255,255, 255, 0.5);
	 /*opacity: 0.4;*/
}

.botonsitos{
	width: 25%;
}

.campform{
	display: inline-block;
}

.card-body{
	margin:0% 0%;
}

.contenedor{
	  border-radius: 25px;
	  padding: 2%;
}

